
<% layout("/layouts/boilerplate") %>  <!--  linked common boilerplate.ejs-->
<body>
    <h3>Listing detail</h3>
    <ul>
        <li><%= listing.title%></li>
        <li><%= listing.description%></li>
         <li>&#8377;<%= listing.price ? listing.price.toLocaleString("en-IN") : "Price Not Available" %></li>
        <li><%= listing.location%></li>
        <li><%= listing.country%></li>
    </ul>
    <br>
    <a href="/listings/<%= listing.id %>/edit">Edit this Listing</a> <!-- [Route No: 5], ko call karaga it is for editing form-->
    <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
        <button>Delete</button>
    </form>
</body>
<!--
sara list index.ejs seh print hua or , or woha further click krna seh jo detail aata hai iska he karan. 
        <li>&#8377;<%= listing.price.toLocaleString("en-IN")%></li> 

-->